@model CoreWebProject.EntityLayer.Concrete.Skill
@{
    ViewData ["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SkillId)
    <br>
    @Html.Label("Skill Name")
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    <br />
    <label>Skill Value</label>
    @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Update Skill</button>
}
